
/* latin-ext */
@font-face {
  font-family: 'Arizonia';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Arizonia Regular'), local('Arizonia-Regular'), url(https://cdn.jsdelivr.net/gh/m1n4l/img@main/neIIzCemt4A5qa7mv5WPFqwKUQ.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Arizonia';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Arizonia Regular'), local('Arizonia-Regular'), url(https://cdn.jsdelivr.net/gh/m1n4l/img@main/neIIzCemt4A5qa7mv5WBFqw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.shop-header {
    background: linear-gradient(to right, #0b486b, #f56217); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.no-gutters {
    margin-right: 14px!important;
    margin-left: 14px!important;
}

.no-gutters>.col, .no-gutters>[class*=col-] {
    border-radius: 4px;
}

.gg {
    color: #ffffff!important;
}

.ab {
    color: #000!important;
    background-color: #ffffff!important;
    border-color: #ffffff!important;
}

.shop-background {
    background: linear-gradient(to right, #0b486b, #f56217); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.Shop-prices {
    color: #e0dc4eba!important;
}

.btn.btn-rounded {
    border-radius: 0.2rem!important;
}



.shabi {
    color: #343a40!important;
    /*text-transform: uppercase!important;*/
}



.block-title1 {
    color: #fff;
    flex: 1 1 auto;
    min-height: 1.75rem;
    margin: 0;
    font-size: 1.125rem;
    font-weight: 900;
    line-height: 1.75;
}

::-webkit-scrollbar-thumb {
    background-color: #e6e6e6;
    min-height: 1.562rem;
    min-width: 1.562rem;
    border: .062rem solid #e0e0e0;
}

::-webkit-scrollbar-track {
    background-color: #f7f7f7;
    border: .062rem solid #efefef;
}
::selection {
    background: #ddd;
    color: #000;
    text-shadow: none;
}

::-webkit-scrollbar {
    width: .625rem;
    height: .4rem;
    overflow: auto;
}

.text-dark {
    font-family: 'Arizonia', cursive;
    font-size: 3rem!important;
}

.hjjg {
    color: #000000;
}

.v2board-plan-features {
    font-size: 15px!important;
    font-weight: 600!important;
}

.v2board-plan-features>li:before {
    color: #2a2e36!important;
}

/* 解锁 */
.v2board-plan-features> .js:before {
    content: "\f3c1";
}

/* 信息 */
.v2board-plan-features> .xx:before {
    content: "\F05A";
}

/* 不支持 */
.v2board-plan-features> .bzc:before {
    content: "\f057";
}

/* 警告 */
.v2board-plan-features> .jg:before {
    content: "\f06a";
}

/* 流量重置 */
.v2board-plan-features> .cz:before {
    content: "\f2f1";
}

/* 速度 */
.v2board-plan-features> .sd:before {
    content: "\f3fd";
}

/* 节点 */
.v2board-plan-features> .jd:before {
    content: "\f0e8";
}

/* 流量 */
.v2board-plan-features> .ll:before {
    content: "\f1c0";
}

/* 工单 */
.v2board-plan-features> .gd:before {
    content: "\f3ff";
}

/* 设备 */
.v2board-plan-features> .phone:before {
    content: "\f3cd";
}

/* 苹果 */
.v2board-plan-features> .iphone:before {
    content: "\f5d1";
}
.art-font {
    font-family: 'Arizonia', cursive;
    color: #495057!important;
    font-size: 16px;
}

input:-webkit-autofill { box-shadow: 0 0 0px 1000px white inset !important;}

.form-control.form-control-alt {
    background-color: #fff!important;
}

.nav-main-link {
    font-weight: 600;
}

.nav-main-heading {
    font-weight: 600;
}

.bg-header-dark {
    background-color: #072460!important;
}

a>.block-header>.block-title {
    font-weight: 600!important;
}
div>.font-w600 {
    color: #343a40!important;
}
.font-size-sm> .text-sm-right {
    font-weight: 600!important;
    color: #343a40!important;
}




.reset-3c756112--hintIcon-7c7981dd--paragraph-ae3112d0 {
    top: 14px;
    left: 16px;
    margin: 0;
    display: block;
    padding: 0;
    position: absolute;
    font-size: 24px;
}
.blockParagraph-544a408c {
    color: inherit;
    margin: 0;
    position: relative;
    margin-bottom: 24px;
}
.reset-3c756112--blockHint-a7403a60 {
    width: 100%;
    margin: 0;
    display: block;
    padding: 24px 24px calc(1px / 10) 50px;
    position: relative;
    margin-top: 32px;
    border-left: 4px solid;
    border-radius: 3px;
    margin-bottom: 32px;
    background-color: #F5F7F9;
}

@media only screen and (max-width: 800px) {
    .docsimg {
        height: auto;
        width: 100%;
        
    }
}


.btn-copy {
    color: #fdfdff;
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .3rem;
    background-color: #00a2ff;
    border-color: #fff;
}
.btn-hero-primary {
    text-transform: none!important;
}

.icon-info {
    color: #3884ff!important;
}



.note {
    font-size: 14px;
    font-weight: 600;
    border: initial;
    border-left: 4px solid #3884ff;
    color: #4c4948;
    background: #eef7fa;
    position: relative;
    margin: 0 0 1rem;
    padding: 24px;
    border-radius: 3px;
    padding-left: 2.65rem;
    margin-top: 32px;
    margin-bottom: 32px;
}


.note.warning {
    border-left-color: #e04f1a;
    background: #ffd9d9;
}


.note> span:before{
    font-family: Font Awesome\ 5 Free;
    position: absolute;
    top: calc(50% - .8rem);
    left: .7rem;
    font-size: larger;
}


.note> .war:before {
    content: "\f071";
    color: #f5222d;
}


.note> .info:before {
    content: "\f06a";
    color: #3b5998;
}

.invitehide {
    display:none
}


.ant-modal {
    width: 350px!important;
}
